<template name="gameRoomPage">
  <h1 class="game-page-title">{{this.title}}</h1>

  <div class="list-group">
    {{#each novelists}}
      <div class="col-md-3">
        <div class="list-group-item">
          {{#if this}}
            <div class="row-picture">
              <img class="circle" src="{{novelistProfilePicture this}}" alt="icon">
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading">{{novelistName this}}</h4>
              {{#if isCurrentUser this}}
                <h4 class="btn btn-warning leave-game-room">Leave game</h4>
              {{/if}}
            </div>
          {{else}}
            <div class="row-picture">
              <img class="circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="icon">
            </div>
            <div class="row-content">
              <h4 class="btn btn-success join-game-room">Join now</h4>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</template>