<template name="gameRoomList">
  <ul class="game-room-list">
    {{#each gameRooms}}
      <li class="game-room-list-item">
        <div>
          <a href="{{pathFor 'gameRoomPage'}}" class="game-room-item">

            <div class="game-room-votes-container">
              <span class="game-room-votes">22</span>points
            </div>

            <div class="pull-left game-room-title-owner-container">
              {{this.title}}<span class="game-room-owner"> by {{novelistName this.gameOwner}}</span>
              <span class="label label-primary genre-label">{{this.genre}}</span>
            </div>

          </a>
        </div>
      </li>
    {{/each}}
  </ul>


</template>