<template name="gameRoomPage">

  <div class="list-group novelist-panel">
    <div class="container">
      {{> gameRoomNovelists}}
    </div>

    <!-- Ready check modal -->
    <div id="ready-check-panel" class="modal fade" data-backdrop="static" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            {{> gameRoomReadyCheck}}
          </div>
        </div>
      </div>
    </div> <!-- close ready check modal -->

  </div> <!-- close novelist-panel -->


  <div class="container">

    <div class="col-md-6">
      <h1 class="game-page-title">{{this.title}} <span class="label label-primary genre-label">{{this.genre}}</span></h1>
      {{> scriptsChosenPanel}}
    </div>

    <div class="col-md-6">
      {{> timerPanel}}
      {{> scriptsCurrentChapterScripts}}
      {{> scriptsInputForm}}
    </div>
  </div>

</template>