<template name="gameRoomCreate">

  <h1>Create New Game Room</h1>

  <form class="create-game-form">
    <h2 class="create-game-form-step-titles">Step 1 - Pick novel title</h2>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Title" />

    <h2 class="create-game-form-step-titles">Step 2 - Select genre</h2>
    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" class="form-control" placeholder="Title" />

    <h2 class="create-game-form-step-titles">Step 3 - Compose introduction paragraph</h2>
    <label for="intro">Introduction</label>
    <input type="text" id="intro" name="intro" class="form-control" placeholder="Title" />

    <h2 class="create-game-form-step-titles">Step 4 - Game configurations</h2>
    <label for="title">Settings</label>
    <input type="text" id="" name="title" class="form-control" placeholder="Title" />

  </form>
</template>