<template name="gameRoomReadyCheck">
  <h1 class="game-room-ready-check-title">Ready Check!</h1>
  <div class="ready-check-buttons">
    <button class="btn btn-warning not-ready-button" data-dismiss="modal">Not Ready</button>
    <button class="btn btn-success ready-button">Ready</button>
  </div>

  <div class="container-fluid">
    {{#each novelists}}
      {{#if this}}
        <div class="col-md-6">
          <div class="list-group-item occupied-slot">
            <div class="row-picture">
              <img class="circle" src="{{novelistProfilePicture this}}" alt="icon">
            </div>
            <div class="row-content">
                <span class="list-group-item-heading">{{novelistName this}}</span>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

</template>