div.form-control-wrapper,
.form-control {
  border-radius: 0;
}

  #dropdown-menu h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
  #dropdown-menu .sample {
    width: 200px;
  }
  #dropdown-menu .form-control-wrapper {
    margin: 30px 0;
  }