div.novelist-panel {
  background-color: #FFF;
  padding: 20px;
  width: 100%;
}

h1.novelist-panel-title {
  text-align: center;
  margin: 0 0 20px 0;
}

h1.game-page-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

button.leave-game-room {
  display: none;
}

.list-group .list-group-item .row-content {
  min-height: 56px;
}

span.list-group-item-heading {
}