h1.game-room-ready-check-title {
  font-size: 28px;
  text-align: center;
}

div.ready-check-buttons {
  text-align: center;
  margin: 30px 0;
}

button.decline-button,
button.accept-button {
  width: 150px;
  margin: 0 30px;
}

i.novelist-accepted {
  background-color: green;
  color: #FFF;
  font-size: 24px;
  border-radius: 100px;
  padding: 3px;
}

i.novelist-declined {
  background-color: red;
  color: #FFF;
  font-size: 24px;
  border-radius: 100px;
  padding: 3px;
}